/*====================================
共通のスタイル
======================================*/
    body{
        font-size: 0.9em;
    }
    .header{
        text-align: center;
        padding-top: 20px;
        height: 50px;
        width:auto;
        margin: 0px;
        background-color: #333333;
    }
    
    .mypage{
        display: inline;
    }

    .shop_name{
        display: inline;
        margin-left: 2%;
        color: white;
    }

    .logout{
        display: inline;
        margin-left: 2%;
    }

    .touroku{
        display: inline;
        margin-left: 20px;
    }

    .kaikei{
        display: inline;
        margin-left: 3%;
    }

    /*
    ============================

       //////
       //   //               //        //
       //  //             //////// /////////               //
       /////    //   //      //        //      ////////    ////////   ///////  ///////  //////
       //  //   //   //      //        //     //      //   //    //  //        //       //
       //   //  //   //      //        //     //      //   //    //  //          /////   /////
       //////    //////      //        //      ////////    //    //   ///////  //////  //////


    ============================
    */

    button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #ffffff;
        padding: 10px 20px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

    button.regi {
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
        background: -moz-linear-gradient(top, #5c96fa 0%, #149cdb);
        background: -webkit-gradient(linear, left top, left bottom, from(#5c96fa), to(#149cdb));
        border: 1px solid #ffffff;
    }

    button.man {
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(0, 51, 255, 0.7);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(0, 51, 255, 0.7);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(0, 51, 255, 0.7);
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
        background: -moz-linear-gradient(top, #19afff 0%, #0e9ec2);
        background: -webkit-gradient(linear, left top, left bottom, from(#19afff), to(#0e9ec2));
        border: 1px solid #ffffff;
    }

    button.lady {
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
        background: -moz-linear-gradient(top, #fa1e31 0%, #f71b1b);
        background: -webkit-gradient(linear, left top, left bottom, from(#fa1e31), to(#f71b1b));
        border: 1px solid #f71125;
    }


    /*
    =============================================
    ここまでヘッダーｃｓｓ
    =============================================
    */
    .all_container{
        
    }


    .left_category{
        margin-left: 5%;

    }

    .left_id{
        display: inline;
        margin-left: 5%;
    }

    .left_item_name{
        display: inline;
        margin-left: 5%;
    }

    .left_yen{
        display: inline;
        margin-left: 30%;
    }

    .left_containts{
        height:300px;
        width:300px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }
    .left_container{
        height:auto;
        width:300px;
        margin: 0 auto;
    }
    .item{
        height: 20px;
        width: 280px;
    }
    /*
    ここまで左側コンテンツ
    */


    .right_container{
        height:auto;
        width:300px;
        margin: 0 auto;
    }




    .right_id{
        display: inline;
        margin-left: 5%;
    }

    .right_item_name{
        display: inline;
        padding-left: 5%;
    }

    .right_yen{
        display: inline;
        padding-left: 20%;
    }

    .right_number{
        display: inline;
        padding-left: 10%;
    }

    .right_total_yen{
        display: inline;
        padding-left: 5%;
    }

    .right_containts{
        height:250px;
        width:300px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }

    .option{
        margin-top: 20px;
    }

    .reset{
        display: inline;
    }

    .check_reset{
        display: inline;
        padding-left: 20px;
    }

    .pay_down{
        display: inline;
        padding-left: 20px;
    }

    .ticket{
        margin-top: 20px;
        margin-left: 100px;
    }

    .ticket_sentaku{
        display: inline;
    }


    .ticket_touroku{
        display: inline;
        padding-left: 10px;
    }

    .total, .take_pay{
        margin-top: 20px;
        font-size: 150%;
        width:600px;
    }

    .total_item{
        display: inline;
    }

    .total_yen{
        display: inline;
        padding-left: 20px;
    }

    .take_pay2{
        display: inline;
    }

    .take_pay3{
        display: inline;
        padding-left: 5%;
    }

    /*ここまで会計ページCSS*/
    .login_container{
        text-align: center;
        width: 100%;
        font-size: 0.9em;
    }
    .idou{
        text-align: center;
        margin-top: 10%;
    }
    .login_settei{
        width: 300px;
        margin-top: 10%;
        display: inline;
    }
    .login_function2{
        border:1px solid black;
        width:300px;
        margin: 0 auto;
    }

@charaset "utf-8";
/*==================================
 一部タブレット縦向け、スマートフォン横向けのスタイル
====================================*/
@media only screen and (min-width:568px){
    body{
        font-size: 0.9em;
    }
    .header{
        padding-top: 20px;
        height: 50px;
        width:auto;
        margin: 0px;
        background-color: #333333;
    }
    

    .mypage{
        display: inline;
        margin-left: 5%;
    }

    .shop_name{
        display: inline;
        margin-left: 5%;
        color: white;
    }

    .logout{
        display: inline;
        margin-left: 3%;
    }

    .touroku{
        display: inline;
        margin-left: 20%;
    }

    .kaikei{
        display: inline;
        margin-left: 2%;
    }
    /*
    =============================================
    ここまでヘッダーｃｓｓ
    =============================================
    */


    .all_container{
        margin:0 auto;
    }
    
    .left_category{
        margin-left: 5%;

    }

    .left_id{
        display: inline;
        margin-left: 5%;
    }

    .left_item_name{
        display: inline;
        margin-left: 5%;
    }

    .left_yen{
        display: inline;
        margin-left: 30%;
    }

    .left_containts{
        height:300px;
        width:300px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }
    .left_container{
        height:auto;
        width:300px;
        margin:0 auto;
    }
    .item{
        height: 20px;
        width: 280px;
    }
    /*
    ここまで左側コンテンツ
    */


    .right_container{
        height:auto;
        width:300px;
        margin:0 auto;
    }




    .right_id{
        display: inline;
        margin-left: 5%;
    }

    .right_item_name{
        display: inline;
        padding-left: 5%;
    }

    .right_yen{
        display: inline;
        padding-left: 20%;
    }

    .right_number{
        display: inline;
        padding-left: 10%;
    }

    .right_total_yen{
        display: inline;
        padding-left: 5%;
    }

    .right_containts{
        height:250px;
        width:300px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }

    .option{
        margin-top: 20px;
    }

    .reset{
        display: inline;
    }

    .check_reset{
        display: inline;
        padding-left: 20px;
    }

    .pay_down{
        display: inline;
        padding-left: 20px;
    }

    .ticket{
        margin-top: 20px;
        margin-left: 100px;
    }

    .ticket_sentaku{
        display: inline;
    }


    .ticket_touroku{
        display: inline;
        padding-left: 10px;
    }

    .total, .take_pay{
        margin-top: 20px;
        font-size: 150%;
        width:600px;
    }

    .total_item{
        display: inline;
    }

    .total_yen{
        display: inline;
        padding-left: 30px;
    }

    .take_pay2{
        display: inline;
    }

    .take_pay3{
        display: inline;
        padding-left: 5%;
    }

    /*ここまで会計ページCSS*/
     .login_1,.login_2,.login_3{
        display: inline;
     }
    .login_container{
        text-align: center;
        width: 100%;
        font-size: 0.9em;
    }
    .idou{
        text-align: center;
        margin-top: 10%;
    }
    .login_settei{
        width: 300px;
        margin-top: 10%;
        display: inline;
    }
    .login_function2{
        border:1px solid black;
        width:300px;
        margin:0 auto;
    }
}

/*
=====================================
小さ目タブレット横向けのスタイル
=====================================
*/
@media only screen and (min-width:800px){
body{
        font-size: 0.9em;
    }
    .header{
        padding-top: 20px;
        height: 50px;
        width:auto;
        margin: 0px;
        background-color: #333333;
    }
    

    .mypage{
        display: inline;
        margin-left: 5%;
    }

    .shop_name{
        display: inline;
        margin-left: 5%;
        color: white;
    }

    .logout{
        display: inline;
        margin-left: 3%;
    }

    .touroku{
        display: inline;
        margin-left: 20%;
    }

    .kaikei{
        display: inline;
        margin-left: 2%;
    }
    /*
    =============================================
    ここまでヘッダーｃｓｓ
    =============================================
    */



    .left_category{
        margin-left: 5%;

    }

    .left_id{
        display: inline;
        margin-left: 5%;
    }

    .left_item_name{
        display: inline;
        margin-left: 5%;
    }

    .left_yen{
        display: inline;
        margin-left: 30%;
    }

    .left_containts{
        height:300px;
        width:300px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }
    .left_container{
        height:auto;
        width:300px;
        margin-left: 20px;
        float:left;
    }
    .item{
        height: 20px;
        width: 280px;
    }
    /*
    ここまで左側コンテンツ
    */


    .right_container{
        height:auto;
        width:300px;
        margin-right:20px;
        margin-top: 50px;
        float:right;
    }




    .right_id{
        display: inline;
        margin-left: 5%;
    }

    .right_item_name{
        display: inline;
        padding-left: 5%;
    }

    .right_yen{
        display: inline;
        padding-left: 20%;
    }

    .right_number{
        display: inline;
        padding-left: 10%;
    }

    .right_total_yen{
        display: inline;
        padding-left: 5%;
    }

    .right_containts{
        height:250px;
        width:300px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }

    .option{
        margin-top: 20px;
    }

    .reset{
        display: inline;
    }

    .check_reset{
        display: inline;
        padding-left: 20px;
    }

    .pay_down{
        display: inline;
        padding-left: 20px;
    }

    .ticket{
        margin-top: 20px;
        margin-left: 100px;
    }

    .ticket_sentaku{
        display: inline;
    }


    .ticket_touroku{
        display: inline;
        padding-left: 10px;
    }

    .total, .take_pay{
        margin-top: 20px;
        font-size: 150%;
        width:600px;
    }

    .total_item{
        display: inline;
    }

    

    .take_pay2{
        display: inline;
    }

    .take_pay3{
        display: inline;
        padding-left: 5%;
    }

    /*ここまで会計ページCSS*/
     .login_1,.login_2,.login_3{
        display: inline;
     }
    .login_container{
        text-align: center;
        width: 100%;
        font-size: 0.9em;
    }
    .idou{
        text-align: center;
        margin-top: 10%;
    }
    .login_settei{
        width: 300px;
        margin-top: 10%;
        display: inline;
    }
    .login_function2{
        border:1px solid black;
        width:300px;
        margin:0 auto;
    }
}
/*===========================================
 大きめタブレット以上のレイアウト
============================================*/
@media only screen and (min-width:1024px){
body{
        font-size: 0.9em;
    }
    .header{
        padding-top: 20px;
        height: 50px;
        width:auto;
        margin: 0px;
        background-color: #333333;
    }
    

    .mypage{
        display: inline;
        margin-left: 5%;
    }

    .shop_name{
        display: inline;
        margin-left: 5%;
        color: white;
    }

    .logout{
        display: inline;
        margin-left: 3%;
    }

    .touroku{
        display: inline;
        margin-left: 20%;
    }

    .kaikei{
        display: inline;
        margin-left: 2%;
    }
    /*
    =============================================
    ここまでヘッダーｃｓｓ
    =============================================
    */



    .left_category{
        margin-left: 5%;

    }

    .left_id{
        display: inline;
        margin-left: 5%;
    }

    .left_item_name{
        display: inline;
        margin-left: 5%;
    }

    .left_yen{
        display: inline;
        margin-left: 30%;
    }

    .left_containts{
        height:300px;
        width:400px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }
    .left_container{
        height:auto;
        width:400px;
        margin-left: 40px;
        float:left;
    }
    .item{
        height: 20px;
        width: 280px;
    }
    /*
    ここまで左側コンテンツ
    */


    .right_container{
        height:auto;
        width:400px;
        margin-right:40px;
        margin-top: 50px;
        float:right;
    }




    .right_id{
        display: inline;
        margin-left: 5%;
    }

    .right_item_name{
        display: inline;
        padding-left: 5%;
    }

    .right_yen{
        display: inline;
        padding-left: 20%;
    }

    .right_number{
        display: inline;
        padding-left: 10%;
    }

    .right_total_yen{
        display: inline;
        padding-left: 5%;
    }

    .right_containts{
        height:250px;
        width:400px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
    }

    .option{
        margin-top: 20px;
    }

    .reset{
        display: inline;
    }

    .check_reset{
        display: inline;
        padding-left: 20px;
    }

    .pay_down{
        display: inline;
        padding-left: 20px;
    }

    .ticket{
        margin-top: 20px;
        margin-left: 100px;
    }

    .ticket_sentaku{
        display: inline;
    }


    .ticket_touroku{
        display: inline;
        padding-left: 10px;
    }

    .total, .take_pay{
        margin-top: 20px;
        font-size: 150%;
        width:600px;
    }

    .total_item{
        display: inline;
    }

    

    .take_pay2{
        display: inline;
    }

    .take_pay3{
        display: inline;
        padding-left: 5%;
    }
｝